WebUi.Silverlight/Service References/RequestorService/RequestorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/RequestorService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8082/RequestorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RequestorService" />
  <xs:element name="GetSearchesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSearchesForUserResult" nillable="true" type="q1:ArrayOfKeyValueOfSearchEntityProxyArrayOfSearchResultEntityProxyzZAMdUG4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSearchForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RequestorService" minOccurs="0" name="searchEntityProxy" nillable="true" type="q2:SearchEntityProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSearchForUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>