WebUi.Silverlight/Service References/RequestorService/RequestorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Helpers.Searches.Definitions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Helpers.Searches.Definitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Cars" />
      <xs:enumeration value="Food" />
      <xs:enumeration value="Gadgets" />
      <xs:enumeration value="Computers" />
      <xs:enumeration value="Music" />
      <xs:enumeration value="Appratments" />
      <xs:enumeration value="House" />
      <xs:enumeration value="Pet" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:simpleType name="PriceRange">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="P_5" />
      <xs:enumeration value="P_10" />
      <xs:enumeration value="P_20" />
      <xs:enumeration value="P_50" />
      <xs:enumeration value="P_100" />
      <xs:enumeration value="P_150" />
      <xs:enumeration value="P_200" />
      <xs:enumeration value="P_250" />
      <xs:enumeration value="P_300" />
      <xs:enumeration value="P_350" />
      <xs:enumeration value="P_400" />
      <xs:enumeration value="P_450" />
      <xs:enumeration value="P_500" />
      <xs:enumeration value="P_550" />
      <xs:enumeration value="P_600" />
      <xs:enumeration value="P_650" />
      <xs:enumeration value="P_700" />
      <xs:enumeration value="P_750" />
      <xs:enumeration value="P_800" />
      <xs:enumeration value="P_850" />
      <xs:enumeration value="P_900" />
      <xs:enumeration value="P_950" />
      <xs:enumeration value="P_1000" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriceRange" nillable="true" type="tns:PriceRange" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Used" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>