WebUi.Silverlight/Service References/RequestorService/RequestorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/RequestorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RequestorService" />
  <xs:complexType name="ArrayOfKeyValueOfSearchEntityProxyArrayOfSearchResultEntityProxyzZAMdUG4">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfSearchEntityProxyArrayOfSearchResultEntityProxyzZAMdUG4">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RequestorService" name="Key" nillable="true" type="q1:SearchEntityProxy" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RequestorService" name="Value" nillable="true" type="q2:ArrayOfSearchResultEntityProxy" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfSearchEntityProxyArrayOfSearchResultEntityProxyzZAMdUG4" nillable="true" type="tns:ArrayOfKeyValueOfSearchEntityProxyArrayOfSearchResultEntityProxyzZAMdUG4" />
</xs:schema>