WebUi/Service References/AuthentificatorService/AuthentificatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthentificatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/AuthentificatorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/AuthentificatorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/AuthentificatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthentificatorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentificatorService_SetUserAndGetCookie_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserAndGetCookie" />
  </wsdl:message>
  <wsdl:message name="IAuthentificatorService_SetUserAndGetCookie_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserAndGetCookieResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentificatorService_GetUserByCookie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCookie" />
  </wsdl:message>
  <wsdl:message name="IAuthentificatorService_GetUserByCookie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCookieResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentificatorService">
    <wsdl:operation name="SetUserAndGetCookie">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentificatorService/SetUserAndGetCookie" message="tns:IAuthentificatorService_SetUserAndGetCookie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentificatorService/SetUserAndGetCookieResponse" message="tns:IAuthentificatorService_SetUserAndGetCookie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByCookie">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentificatorService/GetUserByCookie" message="tns:IAuthentificatorService_GetUserByCookie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentificatorService/GetUserByCookieResponse" message="tns:IAuthentificatorService_GetUserByCookie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthentificatorService" type="tns:IAuthentificatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetUserAndGetCookie">
      <soap:operation soapAction="http://tempuri.org/IAuthentificatorService/SetUserAndGetCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByCookie">
      <soap:operation soapAction="http://tempuri.org/IAuthentificatorService/GetUserByCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthentificatorService">
    <wsdl:port name="BasicHttpBinding_IAuthentificatorService" binding="tns:BasicHttpBinding_IAuthentificatorService">
      <soap:address location="http://localhost:8081/AuthentificatorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>