WebUi.Silverlight/Service References/AuthentificatorService/AuthentificatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/AuthentificatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthentificatorService" />
  <xs:import schemaLocation="http://localhost:8081/AuthentificatorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SetUserAndGetCookie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthentificatorService" minOccurs="0" name="userIdentification" nillable="true" type="q1:UserIdentification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserAndGetCookieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SetUserAndGetCookieResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByCookie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cookie" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByCookieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AuthentificatorService" minOccurs="0" name="GetUserByCookieResult" nillable="true" type="q4:UserIdentification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>